div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
}

.doting {
  --scale: 2;
  left: 318px;
  top: 263px;
  width: calc(10px + (10px * var(--scale)));
  height: calc(10px + (10px * var(--scale)));;
  position: fixed;
  background: blue;
  z-index: 124;
  pointer-events: none;
}